/* Styles for the header */
header {
	padding: 10px 5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	z-index: 1;
	position: fixed;
	width: -webkit-fill-available;
	transition: 0.3s ease-in-out;
}

.logo {
	display: flex;
	padding: 1em 1em 1em 0;
	background: var(--primary-bg);
	border-radius: 6px;
	color: white;
	font-weight: 800;
	font-size: 2em;
	background: transparent;
}

nav {
	display: flex;
	align-items: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	margin-right: 20px;
	color: white;
}

.mobile-menu-icon {
	display: none;
}

.links {
	text-decoration: none;
	text-transform: capitalize;
	color: inherit;
	font-weight: 500;
	display: flex;
	align-items: center;
}

.logo-sm {
	display: none;
}

.icons {
	display: none;
}

.logo-img {
	height: 75px;
	width: 200px;
}

@media (max-width: 768px) {
	header {
		padding: 10px 30px;
	}
	nav {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		left: -90%;
		width: 45%;
		height: 100%;
		padding: 10px;
		transition: left 0.3s ease;
		background: var(--primary-bg);
		z-index: 1;
	}

	nav.open {
		left: 0; /* slide into view */
		box-shadow: rgba(17, 12, 46, 0.15) 7px 0px 15px 0px;
		align-items: flex-start;
		width: -webkit-fill-available;
	}

	nav ul {
		flex-direction: column;
		width: 100%;
		margin-top: 1em;
	}

	nav ul li {
		padding: 1em;
		border-radius: 6px;
		display: flex;
		color: white;
	}

	nav ul li:hover {
		background: white;
		color: var(--primary-bg);
	}

	.mobile-menu-icon {
		display: block;
		color: #e6eff7;
		z-index: 11;
	}

	.icons {
		display: flex;
	}

	.logo-sm {
		color: #e6eff7;
		font-weight: 800; /* Adjust the size as needed */
		width: 100%;
		height: 60px;
		align-items: center;
		justify-content: flex-start;
		display: flex;
		padding-left: 0.5em;
		border-bottom: 1px solid lightgray;
	}

	.logo-img {
		height: 60px;
		width: 150px;
	}
}

@media (max-width: 599px) {
	nav {
		width: 100%;
		left: -110%;
	}
}
