.contact-us-wrapper {
	display: flex;
	flex-direction: column;
	padding: 2em 0;
}

.contact-us-content-map {
	padding: 1em 2em;
	margin: 4em 3em;
	display: flex;
	flex-direction: row;
}
.map {
	flex: 1;
	margin-right: 2em;
}

.contact-us-content {
	flex: 0.4;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.each-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em 0;
}

.contact-us-content-title {
	font-size: 1.2em;
	font-weight: 600;
	text-align: center;
	margin-bottom: 0.3em;
}
.contact-us-content-desc {
	font-size: 0.9em;
	margin-top: 0.5em 0;
	text-align: center;
	line-height: 1.5;
}

@media screen and (max-width: 899px) {
	.contact-us-content-map {
		flex-direction: column-reverse;
		margin: 2em;
		padding: 0;
	}
	.map {
		margin-right: 0em;
		margin-top: 2em;
	}
}

.input-field {
	height: 46px;
	border-radius: 6px;
	box-shadow: none;
	border: 1px solid #bcc1c5;
	width: -webkit-fill-available;
	padding: 0 0.5em;
}
